/* Basic styling for the app */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

/* Styling the table */
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Adjust table styles if necessary */

/* Example: Adjust table cell width */
table th,
table td {
  padding: 12px;
  font-size: 14px;
  color: #333;
  /* Add this if you need to adjust cell widths */
  /* width: 25%; */
}

thead {
  background-color: #4caf50;
  color: white;
}

thead th {
  padding: 10px;
  font-size: 16px;
}

tbody tr {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody td {
  padding: 12px;
  font-size: 14px;
  color: #333;
}

/* Animation for new identifications */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

tbody tr {
  animation: fadeIn 0.6s ease-in-out;
}

/* Hover effect */
tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

/* Existing styles */

.chart-container {
  width: 80%;
  height: 400px;
  margin: 0 auto 40px;
}
